<!DOCTYPE html>
<html lang='en'>

<head>
	<meta charset="utf-8">
	<title>Delete a course</title>
	<link rel="stylesheet" type="text/css" href="/static/css/styles.css">
</head>

<body>
	<h2>Are you sure you want to delete the following course?</h2>
	<h3>Name: {{ course['name'] }}</h3>
	<h3>Description: {{ course['description'] }}</h3>
	<br>
	<form action="/">
		<input type="submit" value="No">
	</form>	
	<form action="/courses/delete/{{ course['id'] }}">
		<input type="submit" value="Yes! I want to delete this!!">
	</form>
</body>

</html>
